body {
    background-color: #f8f9fa;
}
#start-btn {
    margin-top: 50px;
}
#buzzer-btn {
    font-size: 24px;
}
.modal-body button {
    margin: 10px;
}
.form-control {
    font-size: 18px;
    text-align: center;
}
#submit-answer {
    font-size: 18px;
    height: 38px;
    vertical-align: top;
}
