/* overall style */
body {
    background-image: url('./images/bgcurtain.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Poppins', 'Roboto', sans-serif;
    color: white;
}


/* navigation bar */
.navbar {
    padding: 1.2rem;
    background-color: maroon;
}

.navbar-brand {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: white;
    font-size: 1.1rem;
}

.navbar-nav .nav-link:hover {
    color: #ccc;
}

/* logo styles */
.logo-img {
    max-width: 50%; 
    height: 50%;     
    margin: 0;
    padding: 0;
}

/* player name  */
#player1-name, #player2-name {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    border: 2px solid maroon;
    background-color: rgba(248, 249, 250, 0.8); 
    color: #333;
    width: 80%; 
    margin: 0 auto; 
    padding: 10px; 
    height: 50px; 
}

/* start button */
#start-btn {
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    background-color: maroon;
    color: white;
    border: none;
    padding: 10px 20px; 
    transition: background-color 0.3s;
}

#start-btn:hover {
    background-color: #800000;
}

/* buzzer button */
#buzzer-btn {
    width: 200px; 
    height: auto; 
    transition: transform 0.2s ease; 
    cursor: pointer; 
    margin-top: 20px; 
}

#buzzer-btn:hover {
    transform: scale(1.1) translateY(-5px); 
}


.bg-maroon {
    background-color: maroon !important; 
}

.btn-maroon {
    background-color: maroon; 
    color: white; 
    border: none; 
}

.btn-maroon:hover {
    background-color: darkred; 
}

/* answer*/
#answer {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    border: 2px solid maroon;
    background-color: rgba(248, 249, 250, 0.8); 
    color: #333;
    padding: 10px; 
    height: 50px; 
    margin-top: 20px; 
}



/* instructions */
.modal-header {
    background-color: maroon;
    color: black;
}

.modal-body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
}

.navbar-nav .nav-link:hover {
    color: #ccc;
}

/* Question Design */
.question-text {
    font-family: 'Poppins', sans-serif;
    font-size: 28px; 
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.8); /* White background */
    padding: 15px;
    border-radius: 8px;
    display: inline-block;
    margin: 0 auto;
}

#submit-answer, #pass-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    background-color: maroon;
    color: white;
    border: none;
    height: 50px; 
    margin: 10px;
    padding: 10px; 
    transition: background-color 0.3s;
}

#submit-answer:hover, #pass-btn:hover {
    background-color: #800000;
}

/* timer */
#timer {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: maroon;
}

/* score */
#player1-name-display, #player2-name-display {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: maroon;
}

#player1-score, #player2-score {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: maroon;
}

/* border */
.col .text-center {
    border: 3px solid maroon;
    padding: 20px;
    border-radius: 8px;
}

.end-message{
    margin-top: 20px;
}